src/*.o
data/*
.DS_Store
*/.DS_Store
*.ptp*
*.cproject
*org.eclipse*
*.settings*
*.tsv
*.csv
*.o
*.xml
*.prefs
*.exe
build/
.project
.cproject
.pydevproject
examples/library_example_cpu
examples/library_example_gpu
